n8n/FluxGenerator.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -360,
        0
      ],
      "id": "ed24171c-d5ce-4da6-ab03-b60aad7146fc",
      "name": "Telegram Trigger",
      "webhookId": "e58aa096-85d2-4afd-856f-1e9ec9bdc828",
      "credentials": {
        "telegramApi": {
          "id": "1TnzZDwXUbKIUDcH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-schnell",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.output.replaceAll('\\n','') }}\",\n  \"options\": {\n    \"wait_for_model\": true\n  }\n}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "172c0754-8e9a-4af1-8e9e-22794248cc16",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HAUPXAjQOEbgY0YE",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    binary: {\n      data: {\n        data: Buffer.from($json[\"data\"], \"base64\"),\n        mimeType: \"image/png\",\n        fileName: \"generated_image.png\"\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        456,
        0
      ],
      "id": "16bba18a-0658-4179-9673-d27d9d121e44",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        676,
        0
      ],
      "id": "259c83f5-f644-4034-a64d-ffcae7caac37",
      "name": "Send a photo message",
      "webhookId": "dcac0ab4-29f3-423d-8644-844205e8d675",
      "credentials": {
        "telegramApi": {
          "id": "1TnzZDwXUbKIUDcH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant\nuse this keywords to genreate a perfect prompt to generate an image \n\ndont pass 2 lignes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ],
      "id": "3d51bd56-19f2-45e0-8c69-54f709d97f33",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        240
      ],
      "id": "62e447fc-a2eb-49c9-8717-2b7706c9595f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oQx2t3MDUkjgZKYb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7fc41f3b-91cf-493a-8740-a0a26501da68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad838512b4c3ebe20380863dbc04478cc053a033e5aa744801385fbcdc905e3c"
  },
  "id": "5i5QpgUEC4hB7XuT",
  "tags": []
}