n8n/StockTracking.json
{
  "name": "Test",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -260,
        380
      ],
      "id": "33f5edfd-cb17-4843-b5ff-9b0785780d05",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vbaph7fmWClT5cAzi2NEIH4eJK-oNpsQGsQXGfZmgEc",
          "mode": "list",
          "cachedResultName": "inventory_tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vbaph7fmWClT5cAzi2NEIH4eJK-oNpsQGsQXGfZmgEc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vbaph7fmWClT5cAzi2NEIH4eJK-oNpsQGsQXGfZmgEc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -40,
        380
      ],
      "id": "1c115a03-88f1-4b23-b0a7-c50fc733005d",
      "name": "Get Items",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BB4EuzmkvB5Q2Tsx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e4acf2a-5036-473b-931f-301afaa0bcec",
              "leftValue": "={{ $json.current_quantity }}",
              "rightValue": "={{ $json.min_quantity }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        380
      ],
      "id": "6572d786-5e94-4cde-9615-b76e96f0d2ac",
      "name": "Check Stock"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c84d37d6-0ede-4919-99d7-84b5447117d5",
              "name": "message",
              "value": "=⚠️ LOW STOCK ALERT!\n\n📦 Product: {{$json[\"product_name\"]}}  \n📉 Quantity Left: {{$json[\"current_quantity\"]}}  \n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        380
      ],
      "id": "32fa0237-5f10-4284-8467-403a3c80c15a",
      "name": "Alerte Message"
    },
    {
      "parameters": {
        "chatId": "6039133870",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        620,
        480
      ],
      "id": "897ca7fa-0863-4fae-b288-221d77291dfb",
      "name": "Send Telgram Alerte",
      "webhookId": "7abe4543-b79e-47c4-beff-caa1ef6cfbc2",
      "credentials": {
        "telegramApi": {
          "id": "1TnzZDwXUbKIUDcH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n\"recipient\": { \"id\": \"24980830131519199\" },\n\"message\": { \"text\": $json.message }\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        80
      ],
      "id": "3c8af6be-f59e-4fc9-9b33-4638729f2655",
      "name": "Send messenger Alerte",
      "credentials": {
        "httpHeaderAuth": {
          "id": "snMNjaTMuinOVw0v",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "moncefzabat37@gmail.com",
        "subject": "n8n test",
        "message": "Hello world ya nigga",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        620,
        280
      ],
      "id": "8be7131f-325d-4432-ae8b-77237e11a9ec",
      "name": "Send mail Alerte",
      "webhookId": "6de8d006-3216-4860-a38a-cd11f0b77667",
      "credentials": {
        "gmailOAuth2": {
          "id": "HInHros9ICQNIrSp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n\"recipient\": { \"id\": \"1010652471150020\" },\n\"message\": { \"text\": $json.message }\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        680
      ],
      "id": "653d3dfb-7dc0-4f23-a04c-b4b31a0bf3df",
      "name": "Send Instagram Alerte",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7BGpWMNny7zL0eEu",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Items": {
      "main": [
        [
          {
            "node": "Check Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stock": {
      "main": [
        [
          {
            "node": "Alerte Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerte Message": {
      "main": [
        [
          {
            "node": "Send Telgram Alerte",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send messenger Alerte",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send mail Alerte",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Instagram Alerte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telgram Alerte": {
      "main": [
        []
      ]
    },
    "Send messenger Alerte": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "26dfa33f-06e2-4cb2-a463-909a6a62a53b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad838512b4c3ebe20380863dbc04478cc053a033e5aa744801385fbcdc905e3c"
  },
  "id": "V029Dn8P9gwK6Jvv",
  "tags": []
}