n8n/Unipile.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        660,
        280
      ],
      "id": "49120b22-6063-4ae7-9e64-f9624abf8df3",
      "name": "Webhook",
      "webhookId": "bc5766f6-ac6a-4c77-ab9b-7396cbd57127"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api8.unipile.com:13844/api/v1/chats/{{ $('Webhook').item.json.body.chat_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "XsLypSPG.pSJbq98+SqWbLZNBeMpW0jm4RTzT7UiSUjtpXmM8Gxk="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "={{ $json.body.account_id }}"
            },
            {
              "name": "text",
              "value": "helllo man"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        280
      ],
      "id": "060bf3dd-afc3-44b8-82c0-9d928469a8ee",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f27c62c4-b941-4fef-904a-e3c5ddf79802",
              "leftValue": "={{ $json.body.sender.attendee_provider_id }}",
              "rightValue": "213668084605@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        280
      ],
      "id": "ae25880d-6f4c-429f-86e5-2e6cd2458c76",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2119102a-fa95-441f-8e65-31e2cf5d7cf3",
  "meta": {
    "instanceId": "965e4ae3add8f7ad2018babdd8fd42bd833df82e42250b988c15d7721b580089"
  },
  "id": "Yb7Qn5a5lISgXCkQ",
  "tags": []
}